form {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--preset-spacing-base);
    max-width: 640px;
    margin: 0 auto;
    background-color: var(--preset-color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: var(--preset-spacing-base);
    border-radius: 5px;

    button[type="submit"] {
        width: fit-content;
        margin: 0 auto;
        padding: var(--preset-spacing-half) var(--preset-spacing-double);
        background-color: var(--preset-color-primary);
        color: var(--preset-color-white);
        border: none;
        border-radius: 5px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: var(--preset-spacing-half);

        label {
            font-size: var(--preset-font-size-small);
            color: var(--preset-color-primary);
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            padding: var(--preset-spacing-half);
            border: 1px solid var(--preset-color-gray-100);
            border-radius: 5px;
            font-size: var(--preset-font-size-base);
        }
    }
}
